@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");


h1,
h2,
h3,
h4,
h5,
h6 {
	color: #444444;
}

ul,
li {
	list-style-type: none;
	margin: 0;
}

.bg-steel {
	background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
	color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

.article-title {
	color: #444444;
}

a.article-title:hover {
	color: #428bca;
	text-decoration: none;
}

.article-content {
	white-space: pre-line;
}

.article-img {
	height: 65px;
	width: 65px;
	margin-right: 16px;
}

.article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
	color: #333;
	text-decoration: none;
}

.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-heading {
	font-size: 2.5rem;
}



/* Banner */

.banner {
	background-color: #8a4680;
	color: #e2d1df;
	padding: 8em 0;
	position: relative;
}

.banner input,
.banner select,
.banner textarea {
	color: #ffffff;
}

.banner a {
	color: #ffffff;
}

.banner strong,
.banner b {
	color: #ffffff;
}

.banner h1,
.banner h2,
.banner h3,
.banner h4,
.banner h5,
.banner h6 {
	color: #ffffff;
}

.banner blockquote {
	border-left-color: rgba(255, 255, 255, 0.25);
}

.banner code {
	background: rgba(255, 255, 255, 0.075);
	border-color: rgba(255, 255, 255, 0.25);
}

.banner hr {
	border-bottom-color: rgba(255, 255, 255, 0.25);
}

.banner.full {
	padding: 0;
	min-height: 100vh;
	height: 100vh !important;
}

.banner.half {
	padding: 0;
	min-height: 50vh;
	height: 50vh !important;
}

.banner:after {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: opacity 1.5s ease-in-out, visibility 1.5s;
	-webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
	-ms-transition: opacity 1.5s ease-in-out, visibility 1.5s;
	transition: opacity 1.5s ease-in-out, visibility 1.5s;
	background: #000000;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: -2;
}

.banner .indicators {
	bottom: 1.5em;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 2;
}

.banner .indicators li {
	cursor: pointer;
	display: inline-block;
	height: 2em;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-indent: 2em;
	width: 2em;
}

.banner .indicators li:before {
	background: rgba(255, 255, 255, 0.35);
	border-radius: 100%;
	content: '';
	display: inline-block;
	height: 0.8em;
	left: 50%;
	margin: -0.4em 0 0 -0.4em;
	position: absolute;
	text-indent: 0;
	top: 50%;
	width: 0.8em;
}

.banner .indicators li.visible:before {
	background: #fff;
}

.banner>article {
	-moz-transition: opacity 1.5s ease, visibility 1.5s;
	-webkit-transition: opacity 1.5s ease, visibility 1.5s;
	-ms-transition: opacity 1.5s ease, visibility 1.5s;
	transition: opacity 1.5s ease, visibility 1.5s;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 0;
}

.banner>article:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.banner>article:after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.35;
}

.banner>article .inner {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	z-index: 1;
}

.banner>article .inner> :last-child {
	margin-bottom: 0;
}

.banner>article h2 {
	font-size: 7rem;
	margin-bottom: 0;
	color: #FFF;
	font-weight: 300;
}

.banner>article h2:after {
	display: none;
}

.banner>article p {
	color: rgba(255, 255, 255, 0.65);
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 300;
	margin: 0;
	padding-bottom: 1.75rem;
	letter-spacing: .25rem;
}

.banner>article p:after {
	content: '';
	position: absolute;
	margin: auto;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.65);
}

.banner>article a {
	color: #FFF;
	text-decoration: none;
}

.banner>article img {
	display: none;
}

.banner>article.visible {
	opacity: 1;
	visibility: visible;
}

.banner>article.top {
	z-index: 1;
}

.banner>article.instant {
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

body.is-loading .banner:after {
	opacity: 1.0;
	visibility: visible;
}

@media screen and (max-width: 1280px) {

	.banner.full {
		padding: 0;
		min-height: 75vh;
		height: 75vh !important;
	}

}

@media screen and (max-width: 980px) {

	.banner.full {
		padding: 0;
		min-height: 50vh;
		height: 50vh !important;
	}

	.banner>article {
		background-attachment: scroll;
	}

}

@media screen and (max-width: 736px) {

	.banner>article .inner {
		width: 90%;
	}

	.banner>article p {
		margin-bottom: 1rem;
	}

	.banner>article h2 {
		font-size: 4em;
	}

}

body.is-mobile .banner>article {
	background-attachment: scroll;
}


/*section 2 */
.cover {
	width: 100%;
	height: 55vmin;
	background: url("images/pic01.jpg");
	background-position: -24rem --19rem;
	background-size: 150%;
	position: relative;
}

.cover .content {
	background: rgba(0, 0, 0, 0.7);
	height: 100%;
	width: 100%;
	padding-top: 19vmin;
}

.cover .content>h1 {
	font-family: var(--Patua);
	font-size: 6vmin;
	color: whitesmoke;
}

.cover .content>p {
	font-family: var(--Rubik);
	font-size: 2vmin;
	color: #e5e5e5;
}

.numbers .rect {
	position: relative;
	z-index: 1;
	background: white;
	width: 17rem;
	height: 12rem;
	padding-top: 3.5vmin;
	margin: 1rem;
	border-radius: 2em;
	box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.numbers {
	margin-top: -75px;
}

.numbers .rect h1 {
	font-size: 5rem;
	color: tomato;
}

.numbers .rect p {
	font-family: var(--Patua);
}